In [1]:
import pandas as pd
import numpy as np
from statsmodels.stats.proportion import proportion_confint
from statsmodels.stats.weightstats import _tconfint_generic

In [2]:
file = "../sample10000.csv"
df = pd.read_csv(file, parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"])

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2016-12-19 20:13:04,2016-12-19 20:16:58,1,0.87,1,N,238,142,1,5.0,0.5,0.5,1.50,0.0,0.3,7.80
1,1,2016-12-27 19:28:48,2016-12-27 19:30:31,1,0.10,1,N,231,144,2,3.0,1.0,0.5,0.00,0.0,0.3,4.80
2,1,2016-12-17 00:57:37,2016-12-17 01:10:37,3,2.30,1,N,90,233,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75
3,1,2016-12-01 20:32:54,2016-12-01 20:52:17,1,5.00,1,N,13,143,1,18.5,0.5,0.5,3.95,0.0,0.3,23.75
4,2,2016-12-12 19:25:14,2016-12-12 19:34:15,2,1.43,1,N,164,79,1,7.5,1.0,0.5,1.00,0.0,0.3,10.30

# Question 1
Using the data dictionary, check how many passengers in the sample paid for their ride with cash.

In [17]:
cashPay = sum(df.payment_type==2)
cashPay

3543

# Question 2
Build a 99% confidence interval for the proportion of cash payers. What is its' lower boundary?

In [18]:
proportion_confint(cashPay, len(df), alpha=0.01)

(0.34197979174644566, 0.36662020825355435)

# Question 3
Use the same sample to estimate the average trip distance in miles. Provide the answer with at least two digits after decimal.

In [26]:
m = df['trip_distance'].mean()
m

2.8812639999999945

# Question 4
What is the standard deviation of the estimator from the previous question? Provide the answer with at least three digits after decimal.

In [27]:
s = df['trip_distance'].std()/ np.sqrt(len(df))
s

0.03583925411394515

# Question 5
Calculate 95% confidence interval for the mean trip distance. What is the upper boundary? Provide the answer with at least two digits after decimal.

In [28]:
_tconfint_generic(m, s, len(df)-1, 0.05, 'two-sided')

(2.8110118487985924, 2.9515161512013965)